BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never

# Line wrapping
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left # int* ptr

SpaceBeforeParens: ControlStatements # if, for, while
SpacesInParentheses: false
SpacesInAngles: false

DerivePointerAlignment: false

InsertNewlineAtEOF: true
